<div class="screams-container">
  <% @screams.each do |scream| %>
  <div class="scream">
    <%= scream.content %>
    <%= content_tag :span, scream.created_at, class: 'scream-date' %>
  </div>
  <% end %>
</div>